.reviews {

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__slider {
    width: 100%;
    border-radius: $rounded;
    box-sizing: border-box;

    @include min-media(1200) {
      max-width: 1024px;
    }

  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include min-media(768) {
      flex-direction: row;
    }
  }

  &__item {
    box-sizing: border-box;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media(1024) {
      padding: 20px;
    }

    @include min-media(1024) {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &__btn:nth-child(n) {
    @include size(46);
    border-radius: 8px;
    border: 1px solid $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    background: $light;
    order: 1;

    @include min-media(1200) {
      order: 0;
    }

    @include hover {
      background: $accent;
      color: $light;
    }
  }

  &__text-wrapper {

    @include min-media(1024) {
      max-width: 512px;
    }

  }

  &__stars {
    color: $star;
    display: flex;
    justify-content: center;

    @include min-media(1024) {
      justify-content: flex-start;
    }

    li {
      line-height: 0;
    }

  }

  &__title,
  &__item-list {
    margin-top: 24px;
  }

  &__text {
    margin-bottom: 16px;
    color: $dark;
  }

  &__item-list {

    @include min-media(576) {
      display: flex;
    }


    li {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      color: $light-text;
      text-align: center;
      
      @include min-media(576) {
        text-align: left;
      }

      &:not(:last-child) {

        margin-bottom: 12px;
        padding-bottom: 12px;

        @include min-media(576) {
          padding-right: 12px;
          margin-right: 12px;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 1px;
          background: $light-text;

          @include min-media(576) {
            width: 1px;
            height: 10px;
            right: 0px;
            left: auto;
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
          }
        }

      }

    }

  }

  &__item-text {
    margin-top: 20px;
  }

  &__image {
    flex-shrink: 0;
    line-height: 0;

    @include media(1024) {
      border-radius: calc(var(--rounded) / 2);
      overflow: hidden;
    }

  }

}